venv*
outputs/*
.idea/*
spring_synthetic_data.iml
.DS_Store
__pycache__/*
*/__pycache__/*
*/__pycache__
__pycache__
paper/*.aux
paper/*.synctex.gz
paper/*.pdf
paper/*.log
paper/*.bbl
paper/*.blg
paper/*.out
syn_data_files/
notebooks_local/
conda_env.yml
generative_models/CTGAN_tuning.py
generative_models/TVAE_tuning.py
generative_models/tuning_CTGAN.py
reading_saving_privacy_attack_results.py
